<% extend('base') %>
<h4>Subscription's List</h4>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
        <th>First Name</th>
        <th>Birth Date</th>
        <th>EMail</th>
        <th>Adress</th>
        <th>Subscription End</th>
        <th>Is Active</th>
        <th>Is Renewable</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<subscriptions.length; i++) {%>
    <tr onclick="getRow(this);">
    <td class="mdl-data-table__cell--non-numeric">
        <%= subscriptions[i].lastName %></td>
    <td><%= subscriptions[i].fisrtName %></td>
    <td><%= subscriptions[i].birthDate %></td>
    <td><%= subscriptions[i].email %></td>
    <td><%= subscriptions[i].adress %></td>
    <td><%= subscriptions[i].subscriptionEnd %></td>
    <td>
            <%= subscriptions[i].activeYes %>
            <%= subscriptions[i].activeNo %>
    </td>
    <td>
            <%= subscriptions[i].RenewableYes %>
            <%= subscriptions[i].RenewableNo %>
    </td>
    </tr>
    <% } %>
    </tbody>
</table>
<br>
<button id="toupdate" class="mdl-button mdl-js-button mdl-button--primary">
    UPDATE
</button>
<button id="delete" class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised">
   DELETE
</button>

<form action="/update" method="POST" style="margin:30px; visibility: hidden" id="formUpdate">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="inLastName" name="lastName">
        <label class="mdl-textfield__label" for="inLastName">Last name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="inFirstName" name="fisrtName">
        <label class="mdl-textfield__label" for="inFirstName">First name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="inBirthDate" name="birthDate">
        <label class="mdl-textfield__label" for="inBirthDate">Birth date</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="inEMail" name="email">
        <label class="mdl-textfield__label" for="inEMail">Email</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="inAdress" name="adress">
        <label class="mdl-textfield__label" for="inAdress">Adress</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="inSubscriptionEnd" name="subscriptionEnd">
        <label class="mdl-textfield__label" for="inSubscriptionEnd">Subscription's end</label>
    </div>
    <div id="isActive">
        Is Active <br>
        <input type="radio" name="active" value="Yes" > Yes
        <input type="radio" name="active" value="No"> No
    </div>
    <div id="isRenewable">
        Is Renewable <br>
        <input type="radio" name="Renewable" value="Yes" > Yes
        <input type="radio" name="Renewable" value="No"> No
    </div>
    <button id="update" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">UPDATE</button>
</form>




<script src="main.js"></script>